{% extends "myapp/base.html" %}

{% block title %}Спасибо{% endblock %}

{% block content %}
    <div class="mw-description__content cart_gap-tuner center horizontal-grid">
        <div class="modal-content__top-bar ">
            <h2 class="modal-window__name">Спасибо!</h2>
        </div>
        <p class="about-product__text text-align-left">Ваш заказ успешно оформлен. Мы&nbsp;свяжемся с&nbsp;вами для подтверждения.<br>
            Номер вашего заказа
            <strong>{{ order.id }}</strong>.</p>
        <div class="order-info">
            <p>Если по каким-либо причинам с&nbsp;вами не&nbsp;связались или у&nbsp;вас срочный вопрос, позвоните нам
                <br>+7-987-039-19-49</p>
        </div>

    </div>

{% endblock %}