{% extends "myapp/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div class="mw-description__content cart_gap-tuner center horizontal-grid">
        <div class="modal-content__top-bar ">
            <h2 class="modal-window__name">Ваша корзина покупок</h2>
        </div>
        <form class="form-group" action="." method="post" class="order-form">
            {{ form.as_p }}
            <button type="submit" class="btn btn-basic">Оформить заказ</button>
            {% csrf_token %}
        </form>
        <div class="order-info">
            <h3>Ваш заказ</h3>
            <ul class="order-list">
                {% for item in cart %}
                    <li class="order-line">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span class="basic-price basic-price_sm margin__none">{{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="basic-price basic-price_m margin__none">Итого: {{ cart.get_total_price }}</p>
        </div>
    </div>
{% endblock %}